.footer-sub-container{
    display: flex;
    flex-direction: row;
    margin-left: -800px;
}
.footer-contact{
    margin: auto 100px;
    text-decoration: none;
    color: black;
}
.footer-contact-text{
    margin-left: 240px;
}
.footer-contact-call{
    margin-left: 150px;
}