.link-main-container{
    display: flex;
    justify-content: space-around;
    
}
.heading{
    text-align: center;
    margin-top: -20px;
}
.link-input{
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid rgb(8, 14, 12);    
}
.link-form{
    width: 620px;
    padding: 20px;
    background-color: #faeee7;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.link-btn{
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
    border: 1px solid rgb(8, 14, 12);
    width: 160px;
    background-color: #ffc6c7;
    cursor: pointer;
}
.link-btn:hover{
    transition: 0.5s;
    background-color: #ff8ba7;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.alllinks-container{
    background-color: #faeee7;
    width: 620px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 30px;
}